body {
  margin: 0;
  padding: 0; }

#bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center; }
  #bg:before {
    background-color: rgba(255, 255, 255, 0.4);
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }

#gamecanvas {
  /*width: 100%;
	height: 100%;*/
  position: absolute; }

#lifebar {
  border: 1px solid #329432;
  height: 500px;
  overflow: hidden;
  position: absolute;
  right: 1em;
  bottom: 1em;
  width: 0.8em;
  border-radius: 100px; }
  #lifebar #lifebarfill {
    background-color: green;
    bottom: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    transition: all 0.6s ease-out; }

#timer {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 1.2em;
  text-align: center;
  font-size: 1.6em;
  color: yellow; }

#score {
  position: absolute;
  left: 1em;
  bottom: 1em;
  color: yellow;
  font-size: 1.6em; }

.dialog {
  background-color: yellow;
  bottom: 0;
  color: #333;
  font-size: 2rem;
  height: 50%;
  left: 0;
  margin: auto;
  padding: 1em 2em;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%; }
  .dialog h1 {
    margin: 0; }
  .dialog p {
    font-size: 1.6rem; }
  .dialog button {
    width: 49%;
    margin: 0 1%;
    height: 50px;
    float: left;
    background-color: green;
    color: #fff;
    font-size: 1em;
    border: none; }
    .dialog button:last-child {
      margin: 0; }
